.mixedbox {
  margin: 10px;
  @include desktop {
    width: 90%;
    margin: auto;
    margin-bottom: 2%;
  }
}

.text {
  background-color: $light;
  padding: 10px;
  height: 10em;
}

.textline {
  background-color: $pink;
  padding: 10px;
  line-height: 0;
  @include mobile {
    margin: 10px;
    margin-bottom: 30px;
  }
  @include tablet {
    float: left;
    margin: 1%;
    margin-left: 2%;
    margin-bottom: 12%;
    width: 48%;
    height: 9em;
    padding: 35px;
  }
  @include desktop {
    float: left;
    margin: 1%;
    margin-left: 2%;
    margin-bottom: 12%;
    width: 48%;
    height: 9em;
    padding: 35px;
  }
}

.textbox {
  background-color: $light;
  padding: 30px;
  float: left;
    & h2 {
      text-align: center;
    }
  @include mobile {
    margin: 10px;
    height: 20em;
    padding-top: 10%;
    float: none;
  }
  @include tablet {
    margin: 10px;
    width: 48%;
    height: 18em;
  }
  @include desktop{
    margin: 10px;
    width: 47%;
    height: 20em;
    margin-top: -5%;
    margin-left: 2%;
  }
}

.overlay {
  color: $light;
  text-transform: lowercase;
  text-align: center;
  position: absolute;
  height: 30px;
  width: 80px;
  &.top {
    background-color: $dark;
    padding-top: 2px;
    right: 40%;
    margin-top: -10px;
    @include desktop{
      right: 45%;
    }
  }
  &.bottom {
    background-color: $blue;
    color: $dark;
    @include mobile {
      padding-top: 2px;
      right: 40%;
      margin-top: -10px;
    }
    @include tablet {
      right: 20%;
      background-color: $light;
    }
    @include desktop {
      right: 25%;
      width: 100px;
    }
  }
}
