// -----------------------------------------------------------------------------
// This file contains all application-wide typography.
// -----------------------------------------------------------------------------

h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
}

p, a {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

.text {
  text-align: center;
}

h1 {
  color: $blue;
}
