#banana {
  background-image: url('../img/banana.jpeg');
  @include photo {}
  @include mobile {
    height: 15em;
  }
  @include tablet {
    height: 15em;
  }
  @include desktop{
    height: 20em;
  }
}

#photo1 {
  background-image: url('../img/house.jpeg');
  @include photo {}
  @include mobile{
    margin: 10px;
    margin-top: 20px;
    height: 15em;
  }
  @include tablet {
    height: 14.5em;
    float: left;
    width: 48%;
    margin-left: 1%;
    margin-top: 1%;
  }
  @include desktop {
    height: 14.5em;
    width: 90%;
    margin: auto;
    margin-bottom: 2%;
  }
}

#photo2 {
  background-image: url('../img/icecream.jpeg');
  @include photo {}
  @include mobile{
    margin: 10px;
    margin-top: 0px;
    height: 15em;
  }
  @include tablet {
    margin-left: 1%;
    width: 48%;
    height: 25em;
    float: left;
    margin-top: -10%;
  }
  @include desktop{
    width: 48%;
    height: 25em;
  }
}
