// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
// Media Queries //
$mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1024px;

// Colors //


$green: #C6D8AF;
$dark: #3A3335;
$light: #fff4b8;

$pink: #f9bac5;
$blue: #58cde1;
